.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "subgrid-1 subgrid-2 subgrid-3";
}

.subgrid-1 {
  grid-area: subgrid-1;
  display: grid;
  grid-template-rows: 300px auto;
  grid-template-areas: 
  "colors"
  "forms";
}

.subgrid-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto;
  grid-area: subgrid-2;
  grid-template-areas: 
  "story"
  "game";
}

.subgrid-3 {
  grid-area: subgrid-3;
  display: grid;
  grid-template-rows: 400px auto;
  grid-template-areas:
  "patterns"
  "hzpoka";
}

.game {
  grid-area: game;
}

.colors {
  
}
